!.gitkeep

/.idea/
/.eslintcache
/.google.json
/.php_cs.cache

/api/cache/
/api/config/host.php
/api/vendor/
/api/tests/_output
/api/tests/_generated

# Test results
/docker/output/*
/docker/api.xml
/docker/.env
/docker/.env.autotests
/docker/tank/token.txt
/docker/tank/ammo.txt
/docker/tank/logs
/go-api/src/go-api/.env

/node_modules

/public/cdn/
/public/admin.bundle.report.html
/public/admin.html
/public/common.bundle.report.html
/public/uikit.bundle.report.html
/public/uikit.html
/public/index.html
/public/*.json
/public/assets
/public/fonts
/public/landing

/cs_fixer_tmp_*
/phpcs.xml
/phpunit.xml
/yarn-error.log

/frontend/tests-output

/go-api/pkg
